<library path="src">
  <class name="ImagePathSelector"
         type="heron_interact.image_path_selector.ImagePathSelector"
         base_class_type="rqt_gui_py::Plugin">
    <description>
      RQT plugin to select points on an image and visualize them.
    </description>
    <qtgui>
        <label>Image Path Selector</label>
        <icon type="theme">system-help</icon>
        <statustip>Can click and make paths! woo!</statustip>
    </qtgui>
  </class>
</library>
