<?xml version="1.0"?>
<launch>
  <!-- GDB Debug Option -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg if="$(arg debug)" name="launch_prefix"
           value="gdb -x $(dirname)/gdb_settings.gdb --ex run --args" />

  <!-- Verbose Mode Option -->
  <arg name="info" default="$(arg debug)" />
  <arg unless="$(arg info)" name="command_args" value="" />
  <arg     if="$(arg info)" name="command_args" value="--debug" />

  <arg name="rviz" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="initial_pose_x" default="0" />
  <arg name="initial_pose_y" default="0" />
  <arg name="initial_pose_yaw" default="0" />
  <arg name="scan_topic" default="/front/scan" />
  <arg name="world_name" default="$(find heron_planner)/worlds/road.world"/>
  <arg name="moveit" default="true"/>
  <arg name="z_axis_height" default="0.0" />
  <!-- <arg name="moveit_planner" default="ompl"/> -->
  <arg name="moveit_planner" default="pilz_industrial_motion_planner"/>

  <!-- Load parameters -->
  <rosparam command="load" file="$(find heron_planner)/config/heron_demo.yaml" subst_value="true"/>
  <param name="/move_group/planning_plugin" value="pilz_industrial_motion_planner"/>
  
  <!-- Teleops -->
  <arg name="joystick" default="true" />
  <arg name="keyboard" default="false" />

  <!-- LAUNCH ACTIONSHERE -->
  <node pkg="heron_actions" name="move" type="move_action_server.py" output="screen"/>
  <node pkg="heron_actions" name="components" type="trigger_action_server.py" output="screen"/>

  <!-- launch giraffe with navigation! -->
  <include file="$(find moma_gazebo)/launch/giraffe_nav.launch">
    <arg name="rviz"    value="true"/>
    <arg name="headless" value="$(arg headless)" />
    <arg name="world_name"   value="$(arg world_name)"/>
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_yaw" value="$(arg initial_pose_yaw)"/>
    <arg name="moveit" value="$(arg moveit)"/>
    <arg name="z_axis_height" value="$(arg z_axis_height)"/>
    <arg name="moveit_planner" default="$(arg moveit_planner)"/>
    <arg name="joystick" value="$(arg joystick)"/>
  </include>

</launch>
