<?xml version="1.0"?>

<launch>
    <arg name="dummy_interface" default="true" />
    <arg name="fake_data" default="true" /> 
    <arg name="rviz" default="true" />
    <arg name="rviz_file" default="$(find heron_ui)/config/panel.rviz" />

    <include if="$(arg dummy_interface)" 
        file="$(find dummy_interface)/launch/dummy_interface.launch">
        <arg name="fake_data" value="$(arg fake_data)"/>
    </include>
    
    <node pkg="heron_planner" type="hlp_servers.py" name="hlp_servers"/>

    <node if="$(arg rviz)" name="$(anon rviz)" pkg="rviz" type="rviz"
        respawn="false" args="-d $(arg rviz_file)" output="screen">
    </node>

</launch>
